@import url("../typogramic/typogramic.css");

.route_descono_Container {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.route_descono_Container_subcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .route_descono_Container_subcontent_foto {
    width: 200px;
    height: 80px;
    background-image: url('../../../../res/logo2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
} */

.route_descono_Container_subcontent_title {
    color: #303F9F;
    text-align: center;
    font-size: 150px;
    font-family: Montserrat-bold;
}

.route_descono_Container_subcontent_subtitle {
    width: auto;
    max-width: 350px;
    color: #5D718F;
    text-align: center;
    font-size: 20px;
    font-family: Poppins-bold;
}

.route_descono_Container_subcontent_text {
    width: auto;
    max-width: 500px;
    color: #5D718F;
    text-align: center;
    font-family: Poppins-regular;
}

@media (max-width: 500px) {
    .route_descono_Container_subcontent_title {
        font-size: 80px;
    }

    .route_descono_Container_subcontent_subtitle {
        font-size: 16px;
    }

    .route_descono_Container_subcontent_text {
        max-width: auto;
        font-size: 12px;
    }
}