:root {
    --color-primary-empresarial: #303F9F;
}

.equipo_containerConten{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    /* background-color: red; */
}

.equipo_containerConten_max{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(55, 55, 63, 0.7), rgba(55, 55, 63, 0.7)), url("./img/carousel-1.jpg"), no-repeat center center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-color: red; */
}

.equipo_action_opcion{
    color: var(--color-primary-empresarial) !important;
    font-weight: 600 !important;
}

.equipo_action_opcion.nav-link.active{
    color: white !important;
    background-color: var(--color-primary-empresarial) !important;
    font-weight: 600 !important;
}

.equipo_info_justificado{
    text-align: justify !important;
    background-color: #F5F5F5 !important;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
}

.equipo_subcontainerConten_mvo {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipo_subcontainerConten_mvo_container_image{
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20%;
}

.equipo_subcontainerConten_mvo_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url("./img/feature.jpg"), no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.equipo_subcontainerConten_mvo_container_inform{
    /* position: relative; */
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.equipo_subcontainerConten_mvo_subcontainer_inform{
    /* position: absolute; */
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    /* margin-left: -10%; */
    padding: 50px 50px 50px 50px;
}

.equipo_container_mvo_item{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: white;
}

.equipo_container_mvo_item > .equipo_container_mvo_item_container_id{
    width: 50px;
    height: 50px;
}

.equipo_container_mvo_item_container_texto_title{
    margin-bottom: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #37373F;
    text-align: left;
}

.equipo_container_mvo_item_container_id > div{
    width: 100%;
    height: 100%;
    background-color: aqua;
    border-radius: 50%;
    color: white;
    background-color: var(--color-primary-empresarial);
    border-color: var(--color-primary-empresarial);
    font-family: "Roboto", sans-serif;
    font-weight: 500 !important;
    font-size: 1.25rem;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipo_container_mvo_item_container_texto{
    width: calc(100% - 50px);
    height: auto;
    margin-left: 10px;
}

.equipo_infoTitle_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(55, 55, 63, 0.7), rgba(55, 55, 63, 0.7)), url("./img/carousel-1.jpg"), no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title_infoTile_equipo{
    color: #fff !important;
    text-transform: uppercase !important;
    line-height: 1.2;
    font-weight: 700 !important;
    margin-bottom: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-size: calc(1.575rem + 3.9vw);
    text-align: center;
}

.subtitle_infoTile_equipo{
    text-transform: uppercase !important;
    color: #fff !important;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.subTitle_equipo{
    text-transform: uppercase !important;
    font-weight: 500 !important;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #37373F;
}

.titleExtense_equipo {
    font-weight: 700 !important;
    margin-bottom: 1.5rem !important;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    color: #37373F;
    margin-top: 0;
    text-transform: uppercase !important;
}

.contenido_text_equipo {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #757575;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
}

.equipo_contenido_centrado_infoButton{
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 10px;
}

.equipo_contenido_centrado_images_img{
    width: 80%;
    height: 80%;
    background-image: url("https://res.cloudinary.com/dhxefh3r2/image/upload/v1746560167/ofxgxfdv8afu7l9allts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    margin-right: 20px;
}

.equipo_contenido_centrado_image{
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    /* background-color: green; */
}

.equipo_contenido_centrado{
    display: flex;
    height: 80%;
    width: 90%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

@media (max-width: 767px) {

    .upbutton > .carousel-indicators {
        display: none;
    }

    .equipo_containerConten_max{
        height: auto !important;
    }

    /* .equipo_container_phone{
        height: 100vh !important;
    } */

    .equipo_subcontainerConten_mvo{
        height: 100%;
        /* background-color: red; */
        flex-direction: column;
    }

    .equipo_subcontainerConten_mvo_container_image {
        width: 90%;
        height: 30%;
        margin-left: 0px;
    }

    .equipo_subcontainerConten_mvo_container_inform {
        width: 90%;
        height: 50%;
    }

    .equipo_subcontainerConten_mvo_subcontainer_inform{
        width: 100%;
        padding: 30px 20px 30px 20px;
        /* margin-left: 0px; */
    }

    .equipo_container_mvo_item{
        width: 100%;
    }

    .equipo_containerConten{
        height: 120vh;
    }

    .equipo_container_form_iframe{
        flex-direction: column;
    }

    .equipo_container_form{
        width: 80%;
        margin-bottom: 15px;
    }

    .equipo_container_iframe{
        width: 80%;
    }

    .equipo_phonehomeredimencion{
        height: 120vh;
        margin-bottom: 30px;
    }
  
    .equipo_phonehomeredimencion > .equipo_contenido_centrado{
        height: 100%;
        flex-direction: column;
    }

    .equipo_contenido_centrado_infoButton{
        width: 90%;
    }

    .equipo_contenido_centrado_image{
        width: 100%;
        justify-content: center;
    }

    .equipo_contenido_centrado_images_img{
        margin-right: 0px;
    }
}