:root {
    --color-primary-empresarial: #303F9F;
    --color-secundary-empresarial: #5C6BC0;
}

.contenedor_nav{
    height: 120px !important;
    background-color: var(--color-primary-empresarial) !important;
}

.contenedor_nav_center{
    position: relative;
    justify-content: center !important;
}

.iconContainerAccionImage{
    width: 250px; 
    height: 65px;
    margin-top: 30px;
    margin-left: 20px;
}

.contenedor_nav_center > a{
    position: absolute;
    margin-top: -45px;
    left: 0;
    top: 0;
}

.navbar-collapse{
    justify-content: end !important;
    flex-grow: 0 !important;
}

.navitemusert_drop > a {
    /* color: var(--color-secundary-empresarial) !important; */
    color: white !important;
}

.navitemusert_drop > div {
    background-color: var(--color-secundary-empresarial) !important;
    /* background-color: white !important; */
}

.navitemusert_drop > div > a {
    background-color: var(--color-secundary-empresarial) !important;
    color: white !important;
}

.navitemusert_drop > div > a:hover {
    background-color: var(--color-secundary-empresarial) !important;
    color: white !important;
}

.navitemusert{
    /* color: var(--color-secundary-empresarial) !important; */
    color: white !important;
}

@media (max-width: 767px) {
    /* Estilos para pantallas pequeñas (móviles) */

    .contenedor_nav{
        height: auto !important;
    }
    
    .contenedor_nav_center > a{
        position: relative;
        margin-top: 0;
    }

    .contenedor_nav_center{
        justify-content: space-between !important;
    }

    .iconContainerAccionImage{
        width: 50px;
        height: 50px;
        margin-top: 0px;
        margin-left: 0px;
    }
}
  